ol, ul {
    list-style: none;
}
#mainmenu{
    margin: 10px;
    width: 900px;
}

#mainmenu li{
    display:block;
    width:120px;
    float: left;
    margin-left:2px;
    border-bottom: 0px solid #2549D3;
}

#mainmenu a {
    display:block;
    padding: 3px
    text-decoration none;
    background-color: #fff;
    color:#2549D3;
}
#mainmenu a:hover{
    background-color: blue;
    color: #fafafa;

}




