*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 50px;
    width: 100%;
 }
nav{
    display:flex;
    padding: 10px 50px;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    list-style:none;
}
.nav-links{
    flex: 1;
    text-align: justify;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    
    position: relative;
}
.nav-links ul li a{
    color: 2549D3;
    text-decoration: none;
}

a :hover{
    color: #0F298B;
    font-size: x-large;
}
p{
    text-align: left;
}
#sectionA{
    display:flex;
    padding: 20px;
    text-align: left;
}
#sectionB{
    display:flex;
    padding: 20px;
    text-align:center;
}
#helping {
    
    position: relative;
    text-align: left;
    display: flex;
}
#Works{
 display: flex;
 padding: 20;
 text-align: center;
}
#Why{
    display:flex;
    padding: 50PX;
}

#conclusion{
    display:flex;
    text-align:left;
    list-style:none;
    padding: 30;
    margin:0;
    background-color: #0F298B;
    color: #fafafa;
}
*{
    padding:0;
    margin:15px;
    font-style: space;
    font-size: 30;
}
p{
    text-align: center;
}

h2{
    color: #2549D3;
    text-align: left;
}
li{
    padding: 10px;
}


h3{
    color: #2549D3;
    text-align: center;
}

h4{
    color: #2549D3;
    text-align: center;
}

h5{
    color: #2549D3;
    text-align: center;
}

h6{
    color: #2549D3;
    text-align: center;
}

.customers {
    color: #2549D3;
    text-align: center;

}

h8{
    color: black;
    text-align: center;
}
h9{
    color: black;
    text-align: left;
}

h10{
    color:#fafafa;
    text-align: center;
}



ol,ul {
    list-style: none;
    display: inline;
}


